body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #7dbccd;
}

main {
  display: inline-block;
  width: 800px;
  margin-top: 100px;
  margin-left: calc(50% - 400px);
}

.left-column {
    width: 40%;
    float: left;
    padding: 40px;
    background-color: yellow;
}

.bottom-links {
  
}
.bottom-links > a { 
}
.bottom-links > span { 
}

.main-title {
  font-size: 60px;
}

.right-column {
  box-sizing: border-box;
    width: calc(60% - 120px);
    float: left;
    padding: 60px;
    background-color: #fff;
  }    

.close {
}

.mouse {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: -20px -20px 0 10px #fff, 0 0 0 80px #000, -80px -80px 0 40px #000, 80px -80px 0 40px #000;
}